---
http_interactions:
- request:
    method: post
    uri: https://api.pay.stage.kvell.group/v1/orders/payout/sbp/check
    body:
      encoding: UTF-8
      string: '{"amount":100,"phone":"79225620146","bank_id":"100000000111","fio":"Магомедов
        Ахмед Шамилевич","fio_check":true}'
    headers:
      Content-Type:
      - application/json
      X-Signature:
      - <%= signature %>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":20098,"message":"x-api-key: Field required"}]}'
  recorded_at: Mon, 28 Apr 2025 16:04:40 GMT
recorded_with: VCR 6.3.1
