---
http_interactions:
- request:
    method: post
    uri: https://api.pay.stage.kvell.group/v1/orders/payout/sbp/check
    body:
      encoding: UTF-8
      string: '{"amount":100,"phone":"79225620146","bank_id":"100000000111","fio":"Магомедов
        Ахмед Шамилевич","fio_check":true}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - <%= api_key %>
      X-Signature:
      - <%= signature %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":"8dcb02c9-a5f5-476a-86f8-d5eacaf313bf"}'
  recorded_at: Mon, 28 Apr 2025 15:59:46 GMT
recorded_with: VCR 6.3.1
