---
http_interactions:
- request:
    method: post
    uri: https://api.pay.stage.kvell.group/v1/orders/payout/sbp
    body:
      encoding: UTF-8
      string: '{"amount":100,"phone":"79991234567","bank_id":"100000000111","fio":"Иванов
        Иван Иванович","transaction":"418e6125-6fb6-47d8-83e6-e0bc3ae567c2","description":"Выплата
        по заявке 1234","customer":"79991234567"}'
    headers:
      Content-Type:
      - application/json
      X-Signature:
      - <%= signature %>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":20098,"message":"x-api-key: Field required"}]}'
  recorded_at: Mon, 28 Apr 2025 17:22:17 GMT
recorded_with: VCR 6.3.1
