---
http_interactions:
- request:
    method: post
    uri: https://api.pay.stage.kvell.group/v1/orders/payout/sbp
    body:
      encoding: UTF-8
      string: '{"amount":-1,"phone":"79991234567","bank_id":"100000000111","fio":"Иванов
        Иван Иванович","transaction":"467b4a20-9fe7-487b-9584-cf007b7a0fc7","description":"Выплата
        по заявке 1234","customer":"79991234567"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - <%= api_key %>
      X-Signature:
      - <%= signature %>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":20099,"message":"json: cannot unmarshal number -1
        into Go struct field SBPPayoutRequest.amount of type uint"}]}'
  recorded_at: Mon, 28 Apr 2025 17:23:01 GMT
recorded_with: VCR 6.3.1
